/* Font */
@font-face {
    font-family: "Mayeka";
    src: url("../Fonts/Mayeka Regular Demo.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Mayeka";
    font-size: 1.1em;
    background: url("../Assets/img/bodyPic.jpg");
    background-position: left;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* hauteur contenu body */
.heightBody {
    height: 100vh;
}

/* logo title */
.titleLogo {
    width: 16px;
}

/* logo navBar */
.navLogo {
    width: 5rem;
}

/* logo page index */
.navLogo {
    width: 7rem;
}

/* scrollUp button */
#scrollUp {
    position: fixed;
    bottom: 1px;
    right: -100px;
    font-size: 35px;
}

.scrollUpColor {
    color: #77efe6;
    opacity: 0.7;
}

/* size logo footer */
.footerLogoSize {
    height: 35px;
}

.borderBottomNav {
    border-bottom: 2px solid #77efe6;
}

.borderTopFooter {
    border-top: 2px solid #77efe6;
}


